<section class="footer py-5 text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-center">
                <h2 class="fw-bold">LOCATION</h2>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4 text-center">
                <h2 class="fw-bold">AROUND THE WEB</h2>
                <div class="icons">
                    <i class="fa-brands fa-facebook icon"></i>
                    <i class="fa-brands fa-twitter mx-1 icon"></i>
                    <i class="fa-brands fa-linkedin-in mx-1 icon"></i>
                    <i class="fa-solid fa-globe mx-1 icon"></i>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <h2 class="fw-bold">ABOUT FREELANCER</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</section>
<footer class="text-white py-3 text-center pt-4">
    <p>Copyright © Your Website 2021</p>
</footer>